# Transfer to Vissim 22 and Visual Studio 2017

/CACC-VISSIM/Type101DriverModel_22/Lib/
/CACC-VISSIM/Type101DriverModel_22/Temp/
/CACC-VISSIM/Type104DriverModel_22/Lib/
/CACC-VISSIM/Type104DriverModel_22/Temp/

/CACC-VISSIM/Type101DriverModel_22/DriverModel.sln
/CACC-VISSIM/Type101DriverModel_22/DriverModel.vcxproj
/CACC-VISSIM/Type101DriverModel_22/DriverModel.vcxproj.user
/CACC-VISSIM/Type101DriverModel_22/DriverModel_changes.txt



/CACC-VISSIM/Type104DriverModel_22/DriverModel.sln
/CACC-VISSIM/Type104DriverModel_22/DriverModel.vcxproj
/CACC-VISSIM/Type104DriverModel_22/DriverModel.vcxproj.user
/CACC-VISSIM/Type104DriverModel_22/DriverModel_changes.txt

CACC-VISSIM/DriverModel.pdb
CACC-VISSIM/Results/
CACC-VISSIM/Type101DriverModel_22/.vs/DriverModel/v15/Browse.VC.opendb
CACC-VISSIM/Type104DriverModel_22/.vs/DriverModel/v15/Browse.VC.opendb
CACC-VISSIM/i-66_wb_dedicatedcacclane_2_V22_Test.inp0
CACC-VISSIM/i-66_wb_dedicatedcacclane_2_V22_Test.inpx
CACC-VISSIM/i-66_wb_dedicatedcacclane_2_V22_Test.layx
CACC-VISSIM/i-66_wb_dedicatedcacclane_2_V22_Test104.inpx
CACC-VISSIM/i-66_wb_dedicatedcacclane_2_V22_Test104.layx

CACC-VISSIM/Type101DriverModel_22/.vs/
CACC-VISSIM/Type101DriverModel_22/Temp/
CACC-VISSIM/Type101DriverModel_22/x64/Debug/DriverModel.ilk
CACC-VISSIM/Type101DriverModel_22/x64/Debug/DriverModel.log
CACC-VISSIM/Type101DriverModel_22/x64/Debug/DriverModel.tlog/

CACC-VISSIM/Type104DriverModel_22/.vs/
CACC-VISSIM/Type104DriverModel_22/Temp/
CACC-VISSIM/Type104DriverModel_22/x64/Debug/DriverModel.ilk
CACC-VISSIM/Type104DriverModel_22/x64/Debug/DriverModel.log
CACC-VISSIM/Type104DriverModel_22/x64/Debug/DriverModel.tlog/

CACC-VISSIM/Type101DriverModel_22/x64/Release/DriverModel.ilk
CACC-VISSIM/Type101DriverModel_22/x64/Release/DriverModel.log
CACC-VISSIM/Type101DriverModel_22/x64/Release/DriverModel.tlog/

CACC-VISSIM/Type104DriverModel_22/x64/Release/DriverModel.ilk
CACC-VISSIM/Type104DriverModel_22/x64/Release/DriverModel.log
CACC-VISSIM/Type104DriverModel_22/x64/Release/DriverModel.tlog/